<div id="userDetails">
    <div>
        <h2>{{ user.name || user.login }}</h2>
        <img ng-src=" {{ user.avatar_url }}" width="150" title="{{ user.name }}" />
    </div>

    <br/>
        <div class="panel panel-default">

            <div class="panel-heading">Repositories: <span class="badge">{{ user.public_repos }}</span></div>

        <div class="table-responsive">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>
                    <a ng-click="repoSortOrder = '+name'">Name</a>
                </th>

                <th>
                    <a ng-click="repoSortOrder = '-stargazers_count'">Stars</a>
                </th>
                <th>
                    <a ng-click="repoSortOrder = '+language'">Language</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="repo in repos | orderBy: repoSortOrder">
                <td>{{ repo.name }}</td>
                <td>{{ repo.stargazers_count | number }}</td>
                <td>{{ repo.language }}</td>
            </tr>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</div>